// container
.container {
    min-height: 100vh;
}

// box shadow

.box-shadow-custom {
    box-shadow: $box-shadow;
}

// border radius

.br-default {
    border-radius: $border-radius-default;
}

.br-button {
    border-radius: $border-radius-button !important;
}

.br-input {
    border-radius: $border-radius-input !important;
    input {
        border-radius: $border-radius-input !important;
    }
}

// background

.bg-linear {
    background: $bg-linear;
}

// display flex

.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex{
    display: flex;
}

.d-inline-flex{
    display: inline-flex;
}

.flex-column{
    flex-direction: column;
}

.pt-15{
    padding-top: 15px!important;
}

// h4 {
//     font-size: 16px;
//     font-weight: initial;
// }

.text-center{
    text-align: center!important;
}

.justify-between{
    justify-content: space-between;
}

.pointer{
    cursor: pointer;
}

.p-0{
    padding: 0!important;
}

.m-0{
    margin: 0!important;
}

.container-61{
    padding-left: 61px;
    padding-right: 61px;
}

.container-46{
    padding-right: 46px;
    padding-left: 46px;
}

.container-30{
    padding-right: 30px;
    padding-left: 30px;
}

.padding-top-46{
    padding-top: 46px!important;
}

.padding-bottom-46{
    padding-bottom: 46px!important;
}

.padding-top-30{
    padding-top: 30px!important;
}

.margin-top-30{
    margin-top: 30px!important;
}

.margin-bottom-30{
    margin-bottom: 30px!important;
}

.padding-bottom-30{
    padding-bottom: 30px!important;
}

.padding-rigth-30{
    padding-right: 30px!important;
}

.padding-bottom-25{
    padding-bottom: 25px!important;
}

.padding-bottom-20{
    padding-bottom: 20px!important;
}

.margin-bottom-20{
    margin-bottom: 20px!important;
}

//loading
.loader{
    border-bottom: none!important;
}

.ui.loader:after{
    border-color: #70191c transparent transparent!important;
}