.user-sidebar{
    &__element{
        padding-top: 15px!important;
        padding-bottom: 15px!important;
        padding-left: 15%!important;
        padding-right: 15%!important;
        cursor: pointer;
        width: 100%;
    }
    
    .d-center {
        display: flex!important;
        justify-content: center!important;
        align-items: flex-start!important;
    }

    // .active {
    //     background: #70191c;
    //     color: white;
    // }

    &__element:hover{
        background: #70191c;
        color: white;
    }

    .select{
        background: #70191c;
        color: white;
    }

    
}
