.resources{
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item{
        display: flex;
        align-items: center;
        padding: 0;

        &__name{
            padding: 0!important;
            margin: 0!important;
        }

    }
}