.login-form{
    // margin-top:30px;
    width:20%;
    padding: 24px;
    background-color: $white;

    .actions{
        justify-content: space-between;

        .ui.basic.button{
            margin: 0;
        }

        .ui.button.submit{
            width: 100%;
            margin-top: 15px;
            background-color: $guinda;
            color: $white;
        }
    }
}